@model IEnumerable<Core.Entities.Departamento>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a class="btn btn-info" asp-action="Create">Novo Departamento</a>
    </p>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DepartamentoID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Instituicao.Nome)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartamentoID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instituicao.Nome)
                </td>
                <td>
                    <a class="btn btn-outline-info btn-sm" asp-action="Edit" asp-route-id="@item.DepartamentoID">Editar</a>
                    <a class="btn btn-outline-success btn-sm" asp-action="Details" asp-route-id="@item.DepartamentoID">Detalhes</a>
                    <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.DepartamentoID">Deletar</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
